<h1>Mostrando weas</h1>
<p>cantidad: <%= @posts.count %></p>

<% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
<% end %>

<div class="text-center my-5">
    <%= link_to "Crear otro", posts_new_path, class:"btn btn-dark" %>
</div>